html{
/* How to define Html lang */
}

body {
    background-color: #DCDCDC;
    font-family: "Lucida Grande";
}

section.head{
    float: left;
    width: 100%;
    height: 195px;
}

section.tabs{
    float: left;
    width: 100%;
}

section.content{
    float: left;
    width: 100%;
}

div.introduction{
    color: black;
    float: left;
    width: 21%;
}

div.network{
    float: left;
    width: 65%;
    height: 195px;
}

div.myfigure{
    float: left;
    width: 14%;
    height: 195px;
}

h1 {
    color: black;
    text-align:left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 300%;
}


p.introduction  {
    color: black;
    text-align:left;
}

/*nav-tabls*/
ul.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav-tabs {
    float: left;
}

li.nav-tabs a {
    display: block;
    color: #C0C0C0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-tabs a.active {
    background-color: #333;
    color: white;
}

li.nav-tabs a:hover:not(.active) {
    background-color: #333;
    color: #DCDCDC;
}

img.bookcover{
    position: relative; 
    width: 5.88%; 
    height: 32.6%;
    float: left;
}

/*#b1{
    top: 0;
    left: 0;
}*/

#myfigure{
/*    width: 100%;*/
    height:191px;
    float: right;
}

#content_publication  {
    display:initial;
}

#content_experience  {
    display:none;
}

#content_project  {
    display:none;
}

#content_continue {
    display:none;
}

div.share{
    float: left;
}

div.counter {
    float: right;
}

a.paper{
    font-family: serif;
    font-size: 18px;
    color: black;
    font-weight: bolder;
}

a.author{
    font-family: arial;
    font-size: 16px;
    color: black;
}

a.conf{
    font-family: arial;
    font-size: 16px;
    color: black;
}

a.me{
    font-family: arial;
    font-size: 17px;
    font-weight: bolder;
    color: black;
}

a.link{
/*    font-weight: bolder;*/
    color: black;
    text-decoration:none;
}

#counter1{
    display:none; 
    border:none;
}

#counter2{
    display:none; 
    border:none;
}

#counter3{ 
    border:none;
}